.container{
  width: 100%;
  margin: 0 auto;
  padding: 25px 0;
}

.container h2 {
  text-align: center;
}

.inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.inner::-webkit-scrollbar {
  display: none;
}

.product {
  padding-top: 10px;
  width: 100%;
  margin-bottom: 50px;
}

.product img {
  display: block;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  box-shadow:
  0.1em 0.2em 0.9em rgba(0.1, 0.1, 0.1, 0.1);
}

.content a {
  font-size: 12px;
  
}

.content {
  padding-top: 10px;
  padding-left: 20px;
}

.price a{
  font-weight: 700;
  color: black;
}

.title a{
  color: #6c6c6c;
}


.blink {
  animation: blinker 1.4s linear 15;
}

@keyframes blinker {  
  50% { opacity: 0; }
}