.container{
  width: 100%;
  margin: 0 auto;
  padding: 25px 0;
  font-family: 'Lato', sans-serif !important; 
}

.container h2 {
  text-align: center;
}

.inner {
  display: grid;
  grid-template-columns: repeat(5, 36%);
  overflow: scroll;
  grid-gap: 20px;
}

.inner::-webkit-scrollbar {
  display: none;
}

.image {
  width: 100%;
}

.product {
  width: 100%;
  transform: translateX(15%);
}

.image img {
  width: 100%;
  border-radius: 20px;
  
}

.price span {
  font-weight: 700;
  color: black;
  font-size: 12px;
}


.price a{
  font-weight: 700;
  color: black;
  font-size: 12px;
}

.title a{
  color: #6c6c6c;
}