.image {
  width: 100%;
}

.heading {
  text-align: center;
  background-color: #c29957;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 22px;
  font-size: 24px;
  padding: 5px 0;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
  color: #6c6c6c;
  font-weight: bold;
}

.menu a {
  color: #6c6c6c;
}

.product {
  width: 90%;
  margin: 0 auto;
}

.image img {
  width: 100%;
}

.title {
  color: #6c6c6c;
  margin-bottom: 5px;
}

.pricing {
  padding-bottom: 10px;
  font-size: 18px;
}

.blink {
  animation: blinker 1.4s linear 5;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.cartwish {
  display: inline-grid;
  grid-template-columns: 1fr 25px;
  align-items: center;
  padding-bottom: 15px;
  grid-gap: 10px;
}


.shippingdetails{
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 12px;
}
