.container{
  width: 90%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  background-color: #c29957;
  color: white;
  text-transform: uppercase;
}

.inner {
  display: grid;
}

.image {
  width: 100%;
}

.product {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
}

.image img {
  width: 100%;
  border-radius: 20px;
}

.content h4{
  margin-bottom: 7px;
}

.content p {
  margin-bottom: 7px;
}