.container{
  width: 90%;
  margin: 0 auto;
  padding: 25px 0
}

.inner {
  display: grid;
  grid-template-columns: 1fr;
}

.image {
  width: 100%;
}

.product {
  width: 100%;
}

.image img {
  width: 100%;
  border-radius: 20px;
}

.wishempty {
  text-align: center;
  padding: 300px 0;
}

.heading {
  text-align: center;
  background-color: #c29957;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 22px;
}